BackEnd WS PIS REST/Experimental/Vt-Docs/BackEnd/DocsPaConservazione/Schemi/Chiusura.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!ELEMENT xs:annotation (xs:documentation)>
<!ELEMENT xs:attribute (xs:simpleType?)>
<!ATTLIST xs:attribute
	name CDATA #IMPLIED
	type CDATA #IMPLIED
	fixed CDATA #IMPLIED
	default CDATA #IMPLIED
	ref CDATA #IMPLIED
	use CDATA #IMPLIED
>
<!ELEMENT xs:choice (xs:element+)>
<!ELEMENT xs:complexContent (xs:extension)>
<!ELEMENT xs:complexType (xs:complexContent?, xs:simpleContent?, xs:choice?, xs:attribute*, xs:sequence?, xs:attribute*)>
<!ATTLIST xs:complexType
	name CDATA #REQUIRED
>
<!ELEMENT xs:documentation (#PCDATA)>
<!ATTLIST xs:documentation
	xml:lang CDATA #REQUIRED
>
<!ELEMENT xs:element EMPTY>
<!ATTLIST xs:element
	name CDATA #REQUIRED
	type CDATA #REQUIRED
	minOccurs CDATA #IMPLIED
	maxOccurs CDATA #IMPLIED
>
<!ELEMENT xs:enumeration EMPTY>
<!ATTLIST xs:enumeration
	value CDATA #REQUIRED
>
<!ELEMENT xs:extension (xs:attribute*)>
<!ATTLIST xs:extension
	base CDATA #REQUIRED
>
<!ELEMENT xs:maxLength EMPTY>
<!ATTLIST xs:maxLength
	value CDATA #REQUIRED
>
<!ELEMENT xs:restriction (xs:maxLength? | xs:enumeration*)>
<!ATTLIST xs:restriction
	base CDATA #REQUIRED
>
<!ELEMENT xs:schema (xs:annotation | xs:simpleType | xs:attribute | xs:complexType | xs:element)+>
<!ATTLIST xs:schema
	xmlns:sincro CDATA #IMPLIED
	xmlns:xs CDATA #IMPLIED
	targetNamespace CDATA #REQUIRED
	elementFormDefault CDATA #REQUIRED
	attributeFormDefault CDATA #REQUIRED
>
<!ELEMENT xs:sequence (xs:element+)>
<!ELEMENT xs:simpleContent (xs:extension)>
<!ELEMENT xs:simpleType (xs:restriction)>
<!ATTLIST xs:simpleType
	name CDATA #IMPLIED
>
