Pitre-AltriProgetti/LifeCycleConversionHelpers/LCDocsPaService/LCDocsPaService/Web References/DocsPa/docspaws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost">
      <s:element name="DequeueServerPdfConversion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nameDocConvertito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nameFileXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docConvertito" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DequeueServerPdfConversionResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DequeueServerPdfConversionSoapIn">
    <wsdl:part name="parameters" element="tns:DequeueServerPdfConversion" />
  </wsdl:message>
  <wsdl:message name="DequeueServerPdfConversionSoapOut">
    <wsdl:part name="parameters" element="tns:DequeueServerPdfConversionResponse" />
  </wsdl:message>
  <wsdl:portType name="DocsPaWebServiceSoap">
    <wsdl:operation name="DequeueServerPdfConversion">
      <wsdl:input message="tns:DequeueServerPdfConversionSoapIn" />
      <wsdl:output message="tns:DequeueServerPdfConversionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocsPaWebServiceSoap" type="tns:DocsPaWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DequeueServerPdfConversion">
      <soap:operation soapAction="http://localhost/DequeueServerPdfConversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocsPaWebServiceSoap12" type="tns:DocsPaWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DequeueServerPdfConversion">
      <soap12:operation soapAction="http://localhost/DequeueServerPdfConversion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocsPaWebService">
    <wsdl:port name="DocsPaWebServiceSoap" binding="tns:DocsPaWebServiceSoap">
      <soap:address location="http://localhost:53272/strippedWS/docspaws.asmx" />
    </wsdl:port>
    <wsdl:port name="DocsPaWebServiceSoap12" binding="tns:DocsPaWebServiceSoap12">
      <soap12:address location="http://localhost:53272/strippedWS/docspaws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>