Pitre-AltriProgetti/Adlib/Adlib.Director.DirectorWSAWrapper/Web References/ComponentManagementService/ComponentManagementService0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.adlibsoftware.com/ComponentManagement/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://schemas.adlibsoftware.com/ComponentManagement/ServiceContract/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ComponentManagementService" targetNamespace="http://schemas.adlibsoftware.com/ComponentManagement/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.adlibsoftware.com/ComponentManagement/ServiceContract/" location="http://localhost/Adlib/Services/ComponentManagement/ComponentManagementService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="ComponentManagementServiceBasicHttpEndpoint" type="i0:IComponentManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetComponentsByRepositoryTypeAndAdministrativeScope">
      <soap:operation soapAction="http://schemas.adlibsoftware.com/ComponentManagement/ServiceContract/IComponentManagementService/GetComponentsByRepositoryTypeAndAdministrativeScope" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComponentsByRepositoryTypeAndWorkspace">
      <soap:operation soapAction="http://schemas.adlibsoftware.com/ComponentManagement/ServiceContract/IComponentManagementService/GetComponentsByRepositoryTypeAndWorkspace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssignedComponents">
      <soap:operation soapAction="http://schemas.adlibsoftware.com/ComponentManagement/ServiceContract/IComponentManagementService/GetAssignedComponents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnassignedComponents">
      <soap:operation soapAction="http://schemas.adlibsoftware.com/ComponentManagement/ServiceContract/IComponentManagementService/GetUnassignedComponents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterComponents">
      <soap:operation soapAction="http://schemas.adlibsoftware.com/ComponentManagement/ServiceContract/IComponentManagementService/RegisterComponents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterComponents">
      <soap:operation soapAction="http://schemas.adlibsoftware.com/ComponentManagement/ServiceContract/IComponentManagementService/UnregisterComponents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComponentTypes">
      <soap:operation soapAction="http://schemas.adlibsoftware.com/ComponentManagement/ServiceContract/IComponentManagementService/GetComponentTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInstalledComponents">
      <soap:operation soapAction="http://schemas.adlibsoftware.com/ComponentManagement/ServiceContract/IComponentManagementService/GetAllInstalledComponents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComponentManagementService">
    <wsdl:port name="ComponentManagementServiceBasicHttpEndpoint" binding="tns:ComponentManagementServiceBasicHttpEndpoint">
      <soap:address location="http://localhost/Adlib/Services/ComponentManagement/ComponentManagementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>