Pitre-AltriProgetti/Adlib/Adlib.Director.DirectorWSAWrapper/Web References/ComponentManagementService/ComponentManagementService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.adlibsoftware.com/ComponentManagement/ServiceContract/" elementFormDefault="qualified" targetNamespace="http://schemas.adlibsoftware.com/ComponentManagement/ServiceContract/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Adlib/Services/ComponentManagement/ComponentManagementService.svc?xsd=xsd6" namespace="http://schemas.adlibsoftware.com/ComponentManagement/" />
  <xs:element name="GetComponentsByRepositoryTypeAndAdministrativeScope">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="requests" nillable="true" type="q1:ArrayOfGetComponentsByRepositoryTypeAndAdministrativeScopeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentsByRepositoryTypeAndAdministrativeScopeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="GetComponentsByRepositoryTypeAndAdministrativeScopeResult" nillable="true" type="q2:ArrayOfGetComponentsByRepositoryTypeAndAdministrativeScopeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentsByRepositoryTypeAndWorkspace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="requests" nillable="true" type="q3:ArrayOfGetComponentsByRepositoryTypeAndWorkspaceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentsByRepositoryTypeAndWorkspaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="GetComponentsByRepositoryTypeAndWorkspaceResult" nillable="true" type="q4:ArrayOfGetComponentsByRepositoryTypeAndWorkspaceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignedComponents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="requests" nillable="true" type="q5:ArrayOfGetAssignedComponentsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignedComponentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="GetAssignedComponentsResult" nillable="true" type="q6:ArrayOfGetAssignedComponentsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnassignedComponents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="requests" nillable="true" type="q7:ArrayOfGetUnassignedComponentsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnassignedComponentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="GetUnassignedComponentsResult" nillable="true" type="q8:ArrayOfGetUnassignedComponentsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterComponents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="requests" nillable="true" type="q9:ArrayOfRegisterComponentsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterComponentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="RegisterComponentsResult" nillable="true" type="q10:ArrayOfRegisterComponentsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterComponents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="requests" nillable="true" type="q11:ArrayOfUnregisterComponentsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterComponentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="UnregisterComponentsResult" nillable="true" type="q12:ArrayOfUnregisterComponentsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="request" nillable="true" type="q13:GetComponentTypesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="GetComponentTypesResult" nillable="true" type="q14:GetComponentTypesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInstalledComponents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="requests" nillable="true" type="q15:ArrayOfGetAllInstalledComponentsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInstalledComponentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.adlibsoftware.com/ComponentManagement/" minOccurs="0" name="GetAllInstalledComponentsResult" nillable="true" type="q16:ArrayOfGetAllInstalledComponentsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>