BackEnd WS PIS REST/Experimental/Vt-Docs/MessageEngine/Web References/SimpleProxy/MessageEngineSimpleServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_Interface" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_Action" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_Recipient_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_Message_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_From" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_Recipients_List" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="p_Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_Body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMessageResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="MessageEngineSimpleServicesSoap">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageEngineSimpleServicesSoap" type="tns:MessageEngineSimpleServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessageEngineSimpleServicesSoap12" type="tns:MessageEngineSimpleServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageEngineSimpleServices">
    <wsdl:port name="MessageEngineSimpleServicesSoap" binding="tns:MessageEngineSimpleServicesSoap">
      <soap:address location="http://localhost/MessageEngine.WebServiceHost/MessageEngineSimpleServices.asmx" />
    </wsdl:port>
    <wsdl:port name="MessageEngineSimpleServicesSoap12" binding="tns:MessageEngineSimpleServicesSoap12">
      <soap12:address location="http://localhost/MessageEngine.WebServiceHost/MessageEngineSimpleServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>