BackEnd WS PIS REST/Experimental/Vt-Docs/DocsPaIntegrationImpl/Service References/ExternalWR/DummyWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PuntualSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchInfo" type="tns:PuntualSearchInfoWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PuntualSearchInfoWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codice" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PuntualSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PuntualSearchResult" type="tns:PuntualSearchOutputWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PuntualSearchOutputWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Row" type="tns:SearchOutputRowWS" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="tns:SearchOutputCode" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SearchOutputRowWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SearchOutputCode">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="KO" />
        </s:restriction>
      </s:simpleType>
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchInfo" type="tns:SearchInfoWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchInfoWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedPage" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="tns:SearchOutputWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchOutputWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NumTotResults" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Rows" type="tns:ArrayOfSearchOutputRowWS" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="tns:SearchOutputCode" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSearchOutputRowWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SearchOutputRowWS" nillable="true" type="tns:SearchOutputRowWS" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PuntualSearchSoapIn">
    <wsdl:part name="parameters" element="tns:PuntualSearch" />
  </wsdl:message>
  <wsdl:message name="PuntualSearchSoapOut">
    <wsdl:part name="parameters" element="tns:PuntualSearchResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:portType name="ExternalWSSoap">
    <wsdl:operation name="PuntualSearch">
      <wsdl:input message="tns:PuntualSearchSoapIn" />
      <wsdl:output message="tns:PuntualSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExternalWSSoap" type="tns:ExternalWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PuntualSearch">
      <soap:operation soapAction="http://tempuri.org/PuntualSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExternalWSSoap12" type="tns:ExternalWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PuntualSearch">
      <soap12:operation soapAction="http://tempuri.org/PuntualSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExternalWS">
    <wsdl:port name="ExternalWSSoap" binding="tns:ExternalWSSoap">
      <soap:address location="http://localhost/DocsPa30/DocsPaWS/Dummy/DummyWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ExternalWSSoap12" binding="tns:ExternalWSSoap12">
      <soap12:address location="http://localhost/DocsPa30/DocsPaWS/Dummy/DummyWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>