MOBILE PITRe/BackEnd WS PIS REST/Experimental/Vt-Docs/BackEnd/DocsPaDigitalSignature/Web References/externalStamper/RemotePdfStamper.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nttdata.com/2014/RPDFStampSvc" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://nttdata.com/2014/RPDFStampSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nttdata.com/2014/RPDFStampSvc">
      <s:element name="RemotePdfStamp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LeftX" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LeftY" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RightX" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RightY" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PdfContent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="StampText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemotePdfStampResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemotePdfStampResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RemotePdfStampSoapIn">
    <wsdl:part name="parameters" element="tns:RemotePdfStamp" />
  </wsdl:message>
  <wsdl:message name="RemotePdfStampSoapOut">
    <wsdl:part name="parameters" element="tns:RemotePdfStampResponse" />
  </wsdl:message>
  <wsdl:portType name="RemotePdfStamperSoap">
    <wsdl:operation name="RemotePdfStamp">
      <wsdl:input message="tns:RemotePdfStampSoapIn" />
      <wsdl:output message="tns:RemotePdfStampSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RemotePdfStamperSoap" type="tns:RemotePdfStamperSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RemotePdfStamp">
      <soap:operation soapAction="http://nttdata.com/2014/RPDFStampSvc/RemotePdfStamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RemotePdfStamperSoap12" type="tns:RemotePdfStamperSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RemotePdfStamp">
      <soap12:operation soapAction="http://nttdata.com/2014/RPDFStampSvc/RemotePdfStamp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemotePdfStamper">
    <wsdl:port name="RemotePdfStamperSoap" binding="tns:RemotePdfStamperSoap">
      <soap:address location="http://localhost:49820/RemotePdfStamper.asmx" />
    </wsdl:port>
    <wsdl:port name="RemotePdfStamperSoap12" binding="tns:RemotePdfStamperSoap12">
      <soap12:address location="http://localhost:49820/RemotePdfStamper.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>