MOBILE PITRe/BackEnd WS PIS REST/Experimental/Vt-Docs/BackEnd/DocsPaConservazione/Schemi/Documento.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:complexType name="Documento">
		<xs:sequence>
			<xs:element ref="SoggettoProduttore"/>
			<xs:element ref="Registrazione" minOccurs="0"/>
			<xs:element ref="ContestoArchivistico" minOccurs="0"/>
			<xs:element ref="Tipologia" minOccurs="0"/>
			<xs:element ref="Allegati" minOccurs="0"/>
			<xs:element ref="Eventi" minOccurs="0"/>
			<xs:element ref="File"/>
		</xs:sequence>
		<xs:attribute name="IDdocumento" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DataCreazione" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="Oggetto" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="Tipo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="LivelloRiservatezza" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="Documento" type="Documento"/>
	<xs:complexType name="SoggettoProduttore">
		<xs:sequence>
			<xs:element ref="Amministrazione"/>
			<xs:element ref="GerarchiaUO"/>
			<xs:element ref="Creatore"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SoggettoProduttore" type="SoggettoProduttore"/>
	<xs:complexType name="Amministrazione">
		<xs:attribute name="CodiceAmministrazione" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DescrizioneAmministrazione" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="Amministrazione" type="Amministrazione"/>
	<xs:complexType name="GerarchiaUO">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="UnitàOrganizzativa"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GerarchiaUO" type="GerarchiaUO"/>
	<xs:complexType name="UnitàOrganizzativa">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="UnitàOrganizzativa"/>
		</xs:sequence>
		<xs:attribute name="CodiceUO" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DescrizioneUO" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="Livello" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="UnitàOrganizzativa" type="UnitàOrganizzativa"/>
	<xs:complexType name="Creatore">
		<xs:attribute name="CodiceRuolo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DescrizioneRuolo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="CodiceUtente" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DescrizioneUtente" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="Creatore" type="Creatore"/>
	<xs:complexType name="Registrazione">
		<xs:sequence>
			<xs:element ref="Mittente" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Destinatario" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ProtocolloMittente" minOccurs="0"/>
			<xs:element ref="Protocollista"/>
		</xs:sequence>
		<xs:attribute name="CodiceAOO" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DescrizioneAOO" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="CodiceRF" type="xs:anySimpleType"/>
		<xs:attribute name="DescrizioneRF" type="xs:anySimpleType"/>
		<xs:attribute name="SegnaturaProtocollo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="NumeroProtocollo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="TipoProtocollo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DataProtocollo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="OraProtocollo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="SegnaturaEmergenza" type="xs:anySimpleType"/>
		<xs:attribute name="NumeroProtocolloEmergenza" type="xs:anySimpleType"/>
		<xs:attribute name="DataProtocolloEmergenza" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="Registrazione" type="Registrazione"/>
	<xs:complexType name="Mittente">
		<xs:attribute name="Codice" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="Descrizione" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DataArrivo" type="xs:anySimpleType"/>
		<xs:attribute name="ProtocolloMittente" type="xs:anySimpleType"/>
		<xs:attribute name="DataProtocolloMittente" type="xs:anySimpleType"/>
		<xs:attribute name="IndirizzoMail" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="Mittente" type="Mittente"/>
	<xs:complexType name="Destinatario">
		<xs:attribute name="Codice" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="Descrizione" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="MezzoSpedizione" type="xs:anySimpleType"/>
		<xs:attribute name="IndirizzoMail" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="Destinatario" type="Destinatario"/>
	<xs:complexType name="ProtocolloMittente">
		<xs:attribute name="Protocollo" type="xs:anySimpleType"/>
		<xs:attribute name="Data" type="xs:anySimpleType"/>
		<xs:attribute name="MezzoSpedizione" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ProtocolloMittente" type="ProtocolloMittente"/>
	<xs:complexType name="Protocollista">
		<xs:attribute name="CodiceUtente" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DescrizioneUtente" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="CodiceRuolo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DescrizioneRuolo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="UOAppartenenza" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="Protocollista" type="Protocollista"/>
	<xs:complexType name="ContestoArchivistico">
		<xs:sequence>
			<xs:element ref="Classificazione" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Fascicolazione" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="DocumentoCollegato" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ContestoArchivistico" type="ContestoArchivistico"/>
	<xs:complexType name="Classificazione">
		<xs:attribute name="CodiceClassificazione" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="TitolarioDiRiferimento" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="Classificazione" type="Classificazione"/>
	<xs:complexType name="Fascicolazione">
		<xs:attribute name="CodiceFascicolo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DescrizioneFascicolo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="TitolarioDiRierimento" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="CodiceSottofascicolo" type="xs:anySimpleType"/>
		<xs:attribute name="DescrizioneSottofascicolo" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="Fascicolazione" type="Fascicolazione"/>
	<xs:complexType name="DocumentoCollegato">
		<xs:attribute name="IDdocumento" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DataCreazione" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="Oggetto" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="SegnaturaProtocollo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="NumeroProtocollo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DataProtocollo" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="DocumentoCollegato" type="DocumentoCollegato"/>
	<xs:complexType name="Tipologia">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="CampoTipologia"/>
		</xs:sequence>
		<xs:attribute name="NomeTipologia" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="Tipologia" type="Tipologia"/>
	<xs:complexType name="CampoTipologia">
		<xs:attribute name="NomeCampo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="ValoreCampo" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="CampoTipologia" type="CampoTipologia"/>
	<xs:complexType name="Allegati">
		<xs:sequence>
			<xs:element ref="Allegato" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Allegati" type="Allegati"/>
	<xs:complexType name="Allegato">
		<xs:sequence>
			<xs:element ref="File"/>
		</xs:sequence>
		<xs:attribute name="Tipo" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="ID" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="Descrizione" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="Allegato" type="Allegato"/>
	<xs:complexType name="Eventi">
		<xs:sequence>
			<xs:element ref="Evento" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Eventi" type="Eventi"/>
	<xs:complexType name="File">
		<xs:sequence>
			<xs:element ref="FirmaDigitale" minOccurs="0"/>
			<xs:element ref="MarcaTemporale" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Formato" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="Dimensione" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="Impronta" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="AlgoritmoHash" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="File" type="File"/>
	<xs:complexType name="FirmaDigitale">
		<xs:sequence>
			<xs:element ref="Titolare"/>
			<xs:element ref="Certificato"/>
			<xs:element ref="DatiFirma"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FirmaDigitale" type="FirmaDigitale"/>
	<xs:complexType name="Titolare">
		<xs:attribute name="Nome" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="Cognome" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="CodiceFiscale" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="Titolare" type="Titolare"/>
	<xs:complexType name="Certifiato"/>
	<xs:element name="Certifiato" type="Certifiato"/>
	<xs:complexType name="Firma">
		<xs:attribute name="DatiFirma" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="AlgoritmoFirma" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="Firma" type="Firma"/>
	<xs:complexType name="MarcaTemporale">
		<xs:attribute name="NumeroSerie" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="Data" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="Ora" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="SNCertificato" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DataInizioValidità" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DataFineValidità" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="ImprontaDocumentoAssociato" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="TimeStampingAuthority" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="CodiceFiscale" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="MarcaTemporale" type="MarcaTemporale"/>
	<xs:element name="Certificato"/>
	<xs:element name="Evento"/>
	<xs:element name="DatiFirma"/>
</xs:schema>
