Vt-Docs/BackEnd/FatturazioneElettronica/SdiConnector/Service References/RicezioneFattureServices/DPAConnector.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FatturazioneService.DPA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FatturazioneService.DPA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InviaFatturaToSdiRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="File" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InviaFatturaToSdiRequest" nillable="true" type="tns:InviaFatturaToSdiRequest" />
  <xs:complexType name="InviaFatturaToSdiResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SdI_Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InviaFatturaToSdiResponse" nillable="true" type="tns:InviaFatturaToSdiResponse" />
  <xs:complexType name="InviaFatturaToSdiViaPecRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailSubject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="File" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InviaFatturaToSdiViaPecRequest" nillable="true" type="tns:InviaFatturaToSdiViaPecRequest" />
  <xs:complexType name="InviaFatturaToSdiViaPecResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InviaFatturaToSdiViaPecResponse" nillable="true" type="tns:InviaFatturaToSdiViaPecResponse" />
</xs:schema>