Vt-Docs/BackEnd/FatturazioneElettronica/SdiConnector/Service References/RicezioneFattureServices/DPAConnector1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://nttdata.com/2014/FatturaPA" elementFormDefault="qualified" targetNamespace="http://nttdata.com/2014/FatturaPA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vtmi-vtdocst01.valueteam.com/Fatturazione_pec/DPA/DPAConnector.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FatturazioneService.DPA" />
  <xs:element name="InviaFatturaToSdi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FatturazioneService.DPA" minOccurs="0" name="request" nillable="true" type="q1:InviaFatturaToSdiRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviaFatturaToSdiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FatturazioneService.DPA" minOccurs="0" name="InviaFatturaToSdiResult" nillable="true" type="q2:InviaFatturaToSdiResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviaFatturaToSdiViaPec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FatturazioneService.DPA" minOccurs="0" name="request" nillable="true" type="q3:InviaFatturaToSdiViaPecRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviaFatturaToSdiViaPecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FatturazioneService.DPA" minOccurs="0" name="InviaFatturaToSdiViaPecResult" nillable="true" type="q4:InviaFatturaToSdiViaPecResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>