Pitre-AltriProgetti/PIS_Routing/WcfRouting/WcfRouting/Service References/PISRoutingServiceReference/PISRoutingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://nttdata.com/2012/Pi3" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PISRoutingService" targetNamespace="http://nttdata.com/2012/Pi3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nttdata.com/2012/Pi3/Imports">
      <xsd:import schemaLocation="http://localhost:56409/PISRoutingService.svc?xsd=xsd0" namespace="http://nttdata.com/2012/Pi3" />
      <xsd:import schemaLocation="http://localhost:56409/PISRoutingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56409/PISRoutingService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPISRoutingService_GetEndpoint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEndpoint" />
  </wsdl:message>
  <wsdl:message name="IPISRoutingService_GetEndpoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEndpointResponse" />
  </wsdl:message>
  <wsdl:message name="IPISRoutingService_GetEndpointAndApps_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEndpointAndApps" />
  </wsdl:message>
  <wsdl:message name="IPISRoutingService_GetEndpointAndApps_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEndpointAndAppsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPISRoutingService">
    <wsdl:operation name="GetEndpoint">
      <wsdl:input wsaw:Action="http://nttdata.com/2012/Pi3/IPISRoutingService/GetEndpoint" message="tns:IPISRoutingService_GetEndpoint_InputMessage" />
      <wsdl:output wsaw:Action="http://nttdata.com/2012/Pi3/IPISRoutingService/GetEndpointResponse" message="tns:IPISRoutingService_GetEndpoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEndpointAndApps">
      <wsdl:input wsaw:Action="http://nttdata.com/2012/Pi3/IPISRoutingService/GetEndpointAndApps" message="tns:IPISRoutingService_GetEndpointAndApps_InputMessage" />
      <wsdl:output wsaw:Action="http://nttdata.com/2012/Pi3/IPISRoutingService/GetEndpointAndAppsResponse" message="tns:IPISRoutingService_GetEndpointAndApps_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPISRoutingService" type="tns:IPISRoutingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEndpoint">
      <soap:operation soapAction="http://nttdata.com/2012/Pi3/IPISRoutingService/GetEndpoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEndpointAndApps">
      <soap:operation soapAction="http://nttdata.com/2012/Pi3/IPISRoutingService/GetEndpointAndApps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PISRoutingService">
    <wsdl:port name="BasicHttpBinding_IPISRoutingService" binding="tns:BasicHttpBinding_IPISRoutingService">
      <soap:address location="http://localhost:56409/PISRoutingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>