Vt-Docs/ConservazioneWA/VerificaSupporto/Web References/Proxy/IntegritaServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.valueteam.com/Conservazione/IntegritaServices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://www.valueteam.com/Conservazione/PacchettiVersamento/CreateFascicoloRequest" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.valueteam.com/Conservazione/IntegritaServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.valueteam.com/Conservazione/IntegritaServices/">
      <s:import namespace="http://www.valueteam.com/Conservazione/PacchettiVersamento/CreateFascicoloRequest" />
      <s:element name="GetHashDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s1:GetHashDocumentoRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHashDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHashDocumentoResult" type="s1:GetHashDocumentoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.valueteam.com/Conservazione/PacchettiVersamento/CreateFascicoloRequest">
      <s:complexType name="GetHashDocumentoRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdPeople" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdDocumento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetHashDocumentoResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HashRepository" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HashDatabase" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HashAlgo" type="s1:AlgoritomoHash" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AlgoritomoHash">
        <s:restriction base="s:string">
          <s:enumeration value="none" />
          <s:enumeration value="SHA1" />
          <s:enumeration value="SHA256" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHashDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:GetHashDocumento" />
  </wsdl:message>
  <wsdl:message name="GetHashDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:GetHashDocumentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IntegritaServicesSoap">
    <wsdl:operation name="GetHashDocumento">
      <wsdl:input message="tns:GetHashDocumentoSoapIn" />
      <wsdl:output message="tns:GetHashDocumentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntegritaServicesSoap" type="tns:IntegritaServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHashDocumento">
      <soap:operation soapAction="http://www.valueteam.com/Conservazione/IntegritaServices/GetHashDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IntegritaServicesSoap12" type="tns:IntegritaServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHashDocumento">
      <soap12:operation soapAction="http://www.valueteam.com/Conservazione/IntegritaServices/GetHashDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegritaServices">
    <wsdl:port name="IntegritaServicesSoap" binding="tns:IntegritaServicesSoap">
      <soap:address location="http://localhost/DocsPa30/DocsPaWS/Conservazione/Integrita/IntegritaServices.asmx" />
    </wsdl:port>
    <wsdl:port name="IntegritaServicesSoap12" binding="tns:IntegritaServicesSoap12">
      <soap12:address location="http://localhost/DocsPa30/DocsPaWS/Conservazione/Integrita/IntegritaServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>