BackEnd WS PIS REST/Experimental/Vt-Docs/BackEnd/FullTextIndexingServices/Web References/FullTextIndexingWS/FullTextWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="textToSearch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indexCatalogName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="maxRowCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="tns:ArrayOfFullTextResultInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFullTextResultInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FullTextResultInfo" nillable="true" type="tns:FullTextResultInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FullTextResultInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rank" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Characterization" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Write" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:portType name="FullTextWSSoap">
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FullTextWSSoap" type="tns:FullTextWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FullTextWS">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="FullTextWSSoap" binding="tns:FullTextWSSoap">
      <soap:address location="http://localhost/DocsPa30/FullTextIndexingWS/FullTextWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>