BackEnd WS PIS REST/Experimental/Vt-Docs/Rubrica.Proxy/Web References/Proxy.Elementi/RubricaServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://valueteam.com/rubrica" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://valueteam.com/rubrica" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://valueteam.com/rubrica">
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="opzioniRicerca" type="tns:OpzioniRicerca" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OpzioniRicerca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CriteriRicerca" type="tns:CriteriRicerca" />
          <s:element minOccurs="0" maxOccurs="1" name="CriteriPaginazione" type="tns:CriteriPaginazione" />
          <s:element minOccurs="0" maxOccurs="1" name="CriteriOrdinamento" type="tns:CriteriOrdinamento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CriteriRicerca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Criteri" type="tns:ArrayOfCriterioRicerca" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCriterioRicerca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CriterioRicerca" nillable="true" type="tns:CriterioRicerca" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CriterioRicerca">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TipoRicerca" type="tns:TipiRicercaParolaEnum" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valore" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipiRicercaParolaEnum">
        <s:restriction base="s:string">
          <s:enumeration value="ParolaIntera" />
          <s:enumeration value="ParteDellaParola" />
          <s:enumeration value="ParolaIniziaCon" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="CriteriPaginazione">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Pagina" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OggettiPerPagina" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalePagine" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotaleOggetti" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CriteriOrdinamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Criteri" type="tns:ArrayOfCriterioOrdinamento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCriterioOrdinamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CriterioOrdinamento" nillable="true" type="tns:CriterioOrdinamento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CriterioOrdinamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="tns:TipiOrdinamentoEnum" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipiOrdinamentoEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Asc" />
          <s:enumeration value="Desc" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ElementoRubrica">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Canale" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Codice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Indirizzo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Citta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Provincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Emails" type="tns:ArrayOfEmailInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Amministrazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AOO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UtenteCreatore" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataCreazione" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DataUltimaModifica" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoCorrispondente" type="tns:Tipo" />
          <s:element minOccurs="0" maxOccurs="1" name="Urls" type="tns:ArrayOfUrlInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="CHA_Pubblicato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceFiscale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartitaIva" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEmailInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EmailInfo" nillable="true" type="tns:EmailInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmailInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Preferita" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Tipo">
        <s:restriction base="s:string">
          <s:enumeration value="UO" />
          <s:enumeration value="RF" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfUrlInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UrlInfo" nillable="true" type="tns:UrlInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UrlInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfElementoRubrica">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ElementoRubrica" nillable="true" type="tns:ElementoRubrica" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="tns:ArrayOfElementoRubrica" />
            <s:element minOccurs="0" maxOccurs="1" name="opzioniRicerca" type="tns:OpzioniRicerca" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecurityCreadentialsSoapHeader" type="tns:SecurityCreadentialsSoapHeader" />
      <s:complexType name="SecurityCreadentialsSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Get">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult" type="tns:ElementoRubrica" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="elemento" type="tns:ElementoRubrica" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertResult" type="tns:ElementoRubrica" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="elemento" type="tns:ElementoRubrica" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="tns:ElementoRubrica" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="elemento" type="tns:ElementoRubrica" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateMulticasella">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="elemento" type="tns:ElementoRubrica" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMulticasellaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateMulticasellaResult" type="tns:ElementoRubrica" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSecurityCreadentialsSoapHeader">
    <wsdl:part name="SecurityCreadentialsSoapHeader" element="tns:SecurityCreadentialsSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="GetSecurityCreadentialsSoapHeader">
    <wsdl:part name="SecurityCreadentialsSoapHeader" element="tns:SecurityCreadentialsSoapHeader" />
  </wsdl:message>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSecurityCreadentialsSoapHeader">
    <wsdl:part name="SecurityCreadentialsSoapHeader" element="tns:SecurityCreadentialsSoapHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSecurityCreadentialsSoapHeader">
    <wsdl:part name="SecurityCreadentialsSoapHeader" element="tns:SecurityCreadentialsSoapHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSecurityCreadentialsSoapHeader">
    <wsdl:part name="SecurityCreadentialsSoapHeader" element="tns:SecurityCreadentialsSoapHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateMulticasellaSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMulticasella" />
  </wsdl:message>
  <wsdl:message name="UpdateMulticasellaSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMulticasellaResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMulticasellaSecurityCreadentialsSoapHeader">
    <wsdl:part name="SecurityCreadentialsSoapHeader" element="tns:SecurityCreadentialsSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="RubricaServicesSoap">
    <wsdl:operation name="Search">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ricerca di elementi nella rubrica</wsdl:documentation>
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reperimento di un elemento esistente in rubrica</wsdl:documentation>
      <wsdl:input message="tns:GetSoapIn" />
      <wsdl:output message="tns:GetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserimento di un nuovo elmemento in rubrica</wsdl:documentation>
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Aggiornamento di un elmemento esistente in rubrica</wsdl:documentation>
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancellazione di un elmemento esistente in rubrica</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMulticasella">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Aggiornamento di un elmemento multicasella presente in rubrica</wsdl:documentation>
      <wsdl:input message="tns:UpdateMulticasellaSoapIn" />
      <wsdl:output message="tns:UpdateMulticasellaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RubricaServicesSoap" type="tns:RubricaServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://valueteam.com/rubrica/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SearchSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://valueteam.com/rubrica/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://valueteam.com/rubrica/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://valueteam.com/rubrica/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://valueteam.com/rubrica/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMulticasella">
      <soap:operation soapAction="http://valueteam.com/rubrica/UpdateMulticasella" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateMulticasellaSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RubricaServicesSoap12" type="tns:RubricaServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://valueteam.com/rubrica/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://valueteam.com/rubrica/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://valueteam.com/rubrica/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://valueteam.com/rubrica/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://valueteam.com/rubrica/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMulticasella">
      <soap12:operation soapAction="http://valueteam.com/rubrica/UpdateMulticasella" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateMulticasellaSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RubricaServices">
    <wsdl:port name="RubricaServicesSoap" binding="tns:RubricaServicesSoap">
      <soap:address location="http://localhost/Rubrica/RubricaServices.asmx" />
    </wsdl:port>
    <wsdl:port name="RubricaServicesSoap12" binding="tns:RubricaServicesSoap12">
      <soap12:address location="http://localhost/Rubrica/RubricaServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>