NttDataWA/Rubrica.Proxy/Web References/Proxy.Utenti/UtentiServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://valueteam.com/rubrica" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://valueteam.com/rubrica" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://valueteam.com/rubrica">
      <s:element name="ValidateCredentials">
        <s:complexType />
      </s:element>
      <s:element name="ValidateCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateCredentialsResult" type="tns:SecurityCredentialsResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SecurityCredentialsResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amministratore" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="SecurityCreadentialsSoapHeader" type="tns:SecurityCreadentialsSoapHeader" />
      <s:complexType name="SecurityCreadentialsSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ChangePwdSecurityCredentials" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChangePwdSecurityCredentials">
        <s:complexContent mixed="false">
          <s:extension base="tns:SecurityCredentials">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SecurityCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ChangePasswordResponse">
        <s:complexType />
      </s:element>
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="opzioniRicerca" type="tns:OpzioniRicerca" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OpzioniRicerca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CriteriRicerca" type="tns:CriteriRicerca" />
          <s:element minOccurs="0" maxOccurs="1" name="CriteriPaginazione" type="tns:CriteriPaginazione" />
          <s:element minOccurs="0" maxOccurs="1" name="CriteriOrdinamento" type="tns:CriteriOrdinamento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CriteriRicerca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Criteri" type="tns:ArrayOfCriterioRicerca" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCriterioRicerca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CriterioRicerca" nillable="true" type="tns:CriterioRicerca" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CriterioRicerca">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TipoRicerca" type="tns:TipiRicercaParolaEnum" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valore" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipiRicercaParolaEnum">
        <s:restriction base="s:string">
          <s:enumeration value="ParolaIntera" />
          <s:enumeration value="ParteDellaParola" />
          <s:enumeration value="ParolaIniziaCon" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="CriteriPaginazione">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Pagina" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OggettiPerPagina" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalePagine" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotaleOggetti" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CriteriOrdinamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Criteri" type="tns:ArrayOfCriterioOrdinamento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCriterioOrdinamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CriterioOrdinamento" nillable="true" type="tns:CriterioOrdinamento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CriterioOrdinamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="tns:TipiOrdinamentoEnum" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipiOrdinamentoEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Asc" />
          <s:enumeration value="Desc" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Utente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amministratore" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DataCreazione" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DataUltimaModifica" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUtente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Utente" nillable="true" type="tns:Utente" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="tns:ArrayOfUtente" />
            <s:element minOccurs="0" maxOccurs="1" name="opzioniRicerca" type="tns:OpzioniRicerca" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult" type="tns:Utente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="utente" type="tns:Utente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertResult" type="tns:Utente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="utente" type="tns:Utente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="tns:Utente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="utente" type="tns:Utente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateCredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCredentials" />
  </wsdl:message>
  <wsdl:message name="ValidateCredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateCredentialsSecurityCreadentialsSoapHeader">
    <wsdl:part name="SecurityCreadentialsSoapHeader" element="tns:SecurityCreadentialsSoapHeader" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSecurityCreadentialsSoapHeader">
    <wsdl:part name="SecurityCreadentialsSoapHeader" element="tns:SecurityCreadentialsSoapHeader" />
  </wsdl:message>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSecurityCreadentialsSoapHeader">
    <wsdl:part name="SecurityCreadentialsSoapHeader" element="tns:SecurityCreadentialsSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="GetSecurityCreadentialsSoapHeader">
    <wsdl:part name="SecurityCreadentialsSoapHeader" element="tns:SecurityCreadentialsSoapHeader" />
  </wsdl:message>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSecurityCreadentialsSoapHeader">
    <wsdl:part name="SecurityCreadentialsSoapHeader" element="tns:SecurityCreadentialsSoapHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSecurityCreadentialsSoapHeader">
    <wsdl:part name="SecurityCreadentialsSoapHeader" element="tns:SecurityCreadentialsSoapHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSecurityCreadentialsSoapHeader">
    <wsdl:part name="SecurityCreadentialsSoapHeader" element="tns:SecurityCreadentialsSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="UtentiServicesSoap">
    <wsdl:operation name="ValidateCredentials">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validazione credenziali utente</wsdl:documentation>
      <wsdl:input message="tns:ValidateCredentialsSoapIn" />
      <wsdl:output message="tns:ValidateCredentialsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Modifica password per l'utente</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ricerca di utenti nella rubrica</wsdl:documentation>
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reperimento di un utente esistente in rubrica</wsdl:documentation>
      <wsdl:input message="tns:GetSoapIn" />
      <wsdl:output message="tns:GetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserimento di un nuovo utente in rubrica</wsdl:documentation>
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Aggiornamento di un utente esistente in rubrica</wsdl:documentation>
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancellazione di un utente esistente in rubrica</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UtentiServicesSoap" type="tns:UtentiServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateCredentials">
      <soap:operation soapAction="http://valueteam.com/rubrica/ValidateCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ValidateCredentialsSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://valueteam.com/rubrica/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ChangePasswordSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://valueteam.com/rubrica/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SearchSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://valueteam.com/rubrica/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://valueteam.com/rubrica/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://valueteam.com/rubrica/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://valueteam.com/rubrica/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UtentiServicesSoap12" type="tns:UtentiServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateCredentials">
      <soap12:operation soapAction="http://valueteam.com/rubrica/ValidateCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidateCredentialsSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://valueteam.com/rubrica/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ChangePasswordSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://valueteam.com/rubrica/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://valueteam.com/rubrica/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://valueteam.com/rubrica/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://valueteam.com/rubrica/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://valueteam.com/rubrica/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteSecurityCreadentialsSoapHeader" part="SecurityCreadentialsSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UtentiServices">
    <wsdl:port name="UtentiServicesSoap" binding="tns:UtentiServicesSoap">
      <soap:address location="http://localhost/Rubrica/UtentiServices.asmx" />
    </wsdl:port>
    <wsdl:port name="UtentiServicesSoap12" binding="tns:UtentiServicesSoap12">
      <soap12:address location="http://localhost/Rubrica/UtentiServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>