BackEnd WS PIS REST/Experimental/Vt-Docs/Subscriber/Subscriber.AlboTelematico/Web References/tkn/Token1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://nttdata.com/2012/Pi3" elementFormDefault="qualified" targetNamespace="http://nttdata.com/2012/Pi3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aula51-pc/Vt-Docs/DocsPaWS/VtDocsWS/WebServices/Token.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VtDocsWS.Services.Token.GetAuthenticationToken" />
  <xs:element name="GetAuthenticationToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VtDocsWS.Services.Token.GetAuthenticationToken" minOccurs="0" name="request" nillable="true" type="q1:GetAuthenticationTokenRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VtDocsWS.Services.Token.GetAuthenticationToken" minOccurs="0" name="GetAuthenticationTokenResult" nillable="true" type="q2:GetAuthenticationTokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>