Vt-Docs/Subscriber/Subscriber.AlboTelematico/Web References/sr/basic24.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://nttdata.com/2012/Pi3/Field" elementFormDefault="qualified" targetNamespace="http://nttdata.com/2012/Pi3/Field" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.20.15.28/infotn_coll-be/VtDocsWS/WebServices/Documents.svc/basic?xsd=xsd13" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" nillable="true" type="tns:Field" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfField" nillable="true" type="tns:ArrayOfField" />
  <xs:complexType name="Field">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeRegisterOrRF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CounterToTrigger" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MultipleChoice" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Required" type="xs:boolean" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Field" nillable="true" type="tns:Field" />
</xs:schema>