Vt-Docs/Subscriber/Subscriber.AlboTelematico/Web References/sr/basic18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://nttdata.com/2012/Pi3/Correspondent" elementFormDefault="qualified" targetNamespace="http://nttdata.com/2012/Pi3/Correspondent" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCorrespondent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Correspondent" nillable="true" type="tns:Correspondent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCorrespondent" nillable="true" type="tns:ArrayOfCorrespondent" />
  <xs:complexType name="Correspondent">
    <xs:sequence>
      <xs:element minOccurs="0" name="AOOCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdmCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeRegisterOrRF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrespondentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalIdentificationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferredChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Correspondent" nillable="true" type="tns:Correspondent" />
</xs:schema>