Vt-Docs/Subscriber/Subscriber.AlboTelematico/Web References/sr/basic14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VtDocsWS.Services.Documents.SearchDocuments" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VtDocsWS.Services.Documents.SearchDocuments" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.20.15.28/infotn_coll-be/VtDocsWS/WebServices/Documents.svc/basic?xsd=xsd26" namespace="http://nttdata.com/2012/Pi3/Filter" />
  <xs:import schemaLocation="http://172.20.15.28/infotn_coll-be/VtDocsWS/WebServices/Documents.svc/basic?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VtDocsWS.Services" />
  <xs:import schemaLocation="http://172.20.15.28/infotn_coll-be/VtDocsWS/WebServices/Documents.svc/basic?xsd=xsd5" namespace="http://nttdata.com/2012/Pi3/Document" />
  <xs:complexType name="SearchDocumentsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/VtDocsWS.Services" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="ElementsInPage" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q2="http://nttdata.com/2012/Pi3/Filter" minOccurs="0" name="Filters" nillable="true" type="q2:ArrayOfFilter" />
          <xs:element minOccurs="0" name="GetTotalDocumentsNumber" type="xs:boolean" />
          <xs:element minOccurs="0" name="PageNumber" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchDocumentsRequest" nillable="true" type="tns:SearchDocumentsRequest" />
  <xs:complexType name="SearchDocumentsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/VtDocsWS.Services" base="q3:Response">
        <xs:sequence>
          <xs:element xmlns:q4="http://nttdata.com/2012/Pi3/Document" minOccurs="0" name="Documents" nillable="true" type="q4:ArrayOfDocument" />
          <xs:element minOccurs="0" name="TotalDocumentsNumber" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchDocumentsResponse" nillable="true" type="tns:SearchDocumentsResponse" />
</xs:schema>