MOBILE PITRe/BackEnd WS PIS REST/Experimental/Vt-Docs/BackEnd/DocsPaDigitalSignature_ExternalModules/ClrVerificationService/DeSign.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="deSign">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="signedData" minOccurs="0"/>
        <xs:element ref="timeStamp" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="release" type="xs:string"/>
      <xs:attribute name="releaseDate" type="xs:string"/>
      <xs:attribute name="controlloCACRL" type="xs:string"/>
      <xs:attribute name="controlloCRLPKCS7" type="xs:string"/>
      <xs:attribute name="controlloCRLTS" type="xs:string"/>
      <xs:attribute name="controlloValidita" type="xs:string"/>
      <xs:attribute name="controlloSigningCertificateAttr" type="xs:string"/>
      <xs:attribute name="serverRelease" type="xs:string"/>
      <xs:attribute name="downloadCRL" type="xs:string"/>
      <xs:attribute name="useProxy" type="xs:string"/>
      <xs:attribute name="useSOCKS" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="signedData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="signer" maxOccurs="unbounded"/>
        <xs:sequence>
          <xs:element ref="errorCode"/>
          <xs:element ref="errorMessage"/>
          <xs:element ref="status"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="filename" type="xs:string"/>
      <xs:attribute name="filetype" type="xs:string"/>
      <xs:attribute name="detachedDocument" type="xs:string"/>
      <xs:attribute name="content" type="xs:string"/>
      <xs:attribute name="pkcs7" type="xs:string"/>
      <xs:attribute name="tsr" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="timeStamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="serial" minOccurs="0"/>
        <xs:element ref="subject" minOccurs="0"/>
        <xs:element ref="issuer" minOccurs="0"/>
        <xs:element ref="policyInformationList" minOccurs="0"/>
        <xs:element ref="certNotBefore" minOccurs="0"/>
        <xs:element ref="certNotAfter" minOccurs="0"/>
        <xs:element ref="certificate" minOccurs="0"/>
        <xs:element ref="timeStampSerial" minOccurs="0"/>
        <xs:element ref="timeStampDate" minOccurs="0"/>
        <xs:element ref="timeStampImprintAlgorithm" minOccurs="0"/>
        <xs:element ref="timeStampImprint" minOccurs="0"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlThisUpdate"/>
          <xs:element ref="ocspThisUpdate"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlExpired"/>
          <xs:element ref="ocspExpired"/>
        </xs:sequence>
        <xs:element ref="caCertRevoked" minOccurs="0"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlRevocationDate"/>
          <xs:element ref="ocspRevocationDate"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlHoldDate"/>
          <xs:element ref="ocspHoldDate"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlInvalidSince"/>
          <xs:element ref="ocspInvalidSince"/>
        </xs:sequence>
        <xs:element ref="caCertExpired" minOccurs="0"/>
        <xs:element ref="expiredCertsOnCRL" minOccurs="0"/>
        <xs:element ref="signedAttributes" minOccurs="0"/>
        <xs:element ref="digestAlgorithm" minOccurs="0"/>
        <xs:element ref="verificationTime" minOccurs="0"/>
        <xs:element ref="certExpired" minOccurs="0"/>
        <xs:element ref="errorCode" minOccurs="0"/>
        <xs:element ref="errorMessage" minOccurs="0"/>
        <xs:element ref="status"/>
      </xs:sequence>
      <xs:attribute name="filename" type="xs:string"/>
      <xs:attribute name="detachedDocument" type="xs:string"/>
      <xs:attribute name="cadesCompliant" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="signer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="serial" minOccurs="0"/>
        <xs:element ref="subject" minOccurs="0"/>
        <xs:element ref="issuer" minOccurs="0"/>
        <xs:element ref="directoryAttributes" minOccurs="0"/>
        <xs:element ref="policyInformationList" minOccurs="0"/>
        <xs:element ref="qcStatements" minOccurs="0"/>
        <xs:element ref="certNotBefore" minOccurs="0"/>
        <xs:element ref="certNotAfter" minOccurs="0"/>
        <xs:element ref="certificate" minOccurs="0"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlThisUpdate"/>
          <xs:element ref="ocspThisUpdate"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlExpired"/>
          <xs:element ref="ocspExpired"/>
        </xs:sequence>
        <xs:element ref="caCertRevoked" minOccurs="0"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlRevocationDate"/>
          <xs:element ref="ocspRevocationDate"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlHoldDate"/>
          <xs:element ref="ocspHoldDate"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlInvalidSince"/>
          <xs:element ref="ocspInvalidSince"/>
        </xs:sequence>
        <xs:element ref="caCertExpired" minOccurs="0"/>
        <xs:element ref="expiredCertsOnCRL" minOccurs="0"/>
        <xs:element ref="signedAttributes" minOccurs="0"/>
        <xs:element ref="signingTime" minOccurs="0"/>
        <xs:element ref="signatureTimeStamp" minOccurs="0"/>
        <xs:element ref="digestAlgorithm" minOccurs="0"/>
        <xs:element ref="verificationTime" minOccurs="0"/>
        <xs:element ref="certExpired" minOccurs="0"/>
        <xs:element ref="errorCode" minOccurs="0"/>
        <xs:element ref="errorMessage" minOccurs="0"/>
        <xs:element ref="status"/>
        <xs:element ref="countersigner" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="cadesCompliant" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="countersigner">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="serial" minOccurs="0"/>
        <xs:element ref="subject" minOccurs="0"/>
        <xs:element ref="issuer" minOccurs="0"/>
        <xs:element ref="directoryAttributes" minOccurs="0"/>
        <xs:element ref="policyInformationList" minOccurs="0"/>
        <xs:element ref="qcStatements" minOccurs="0"/>
        <xs:element ref="certNotBefore" minOccurs="0"/>
        <xs:element ref="certNotAfter" minOccurs="0"/>
        <xs:element ref="certificate" minOccurs="0"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlThisUpdate"/>
          <xs:element ref="ocspThisUpdate"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlExpired"/>
          <xs:element ref="ocspExpired"/>
        </xs:sequence>
        <xs:element ref="caCertRevoked" minOccurs="0"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlRevocationDate"/>
          <xs:element ref="ocspRevocationDate"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlHoldDate"/>
          <xs:element ref="ocspHoldDate"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlInvalidSince"/>
          <xs:element ref="ocspInvalidSince"/>
        </xs:sequence>
        <xs:element ref="caCertExpired" minOccurs="0"/>
        <xs:element ref="expiredCertsOnCRL" minOccurs="0"/>
        <xs:element ref="signedAttributes" minOccurs="0"/>
        <xs:element ref="signingTime" minOccurs="0"/>
        <xs:element ref="signatureTimeStamp" minOccurs="0"/>
        <xs:element ref="digestAlgorithm" minOccurs="0"/>
        <xs:element ref="verificationTime" minOccurs="0"/>
        <xs:element ref="certExpired" minOccurs="0"/>
        <xs:element ref="errorCode" minOccurs="0"/>
        <xs:element ref="errorMessage" minOccurs="0"/>
        <xs:element ref="status"/>
        <xs:element ref="countersigner" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="cadesCompliant" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="signatureTimeStamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="subject" minOccurs="0"/>
        <xs:element ref="issuer" minOccurs="0"/>
        <xs:element ref="policyInformationList" minOccurs="0"/>
        <xs:element ref="certNotBefore" minOccurs="0"/>
        <xs:element ref="certNotAfter" minOccurs="0"/>
        <xs:element ref="certificate" minOccurs="0"/>
        <xs:element ref="timeStampSerial" minOccurs="0"/>
        <xs:element ref="timeStampDate" minOccurs="0"/>
        <xs:element ref="timeStampImprintAlgorithm" minOccurs="0"/>
        <xs:element ref="timeStampImprint" minOccurs="0"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlThisUpdate"/>
          <xs:element ref="ocspThisUpdate"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlExpired"/>
          <xs:element ref="ocspExpired"/>
        </xs:sequence>
        <xs:element ref="caCertRevoked" minOccurs="0"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlRevocationDate"/>
          <xs:element ref="ocspRevocationDate"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlHoldDate"/>
          <xs:element ref="ocspHoldDate"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="crlInvalidSince"/>
          <xs:element ref="ocspInvalidSince"/>
        </xs:sequence>
        <xs:element ref="caCertExpired" minOccurs="0"/>
        <xs:element ref="expiredCertsOnCRL" minOccurs="0"/>
        <xs:element ref="signedAttributes" minOccurs="0"/>
        <xs:element ref="digestAlgorithm" minOccurs="0"/>
        <xs:element ref="certExpired" minOccurs="0"/>
        <xs:element ref="errorCode" minOccurs="0"/>
        <xs:element ref="errorMessage" minOccurs="0"/>
        <xs:element ref="status"/>
      </xs:sequence>
      <xs:attribute name="cadesCompliant" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subject">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="C" minOccurs="0"/>
        <xs:element ref="O" minOccurs="0"/>
        <xs:element ref="OU" minOccurs="0"/>
        <xs:element ref="L" minOccurs="0"/>
        <xs:element ref="SUR" minOccurs="0"/>
        <xs:element ref="SER" minOccurs="0"/>
        <xs:element ref="GIVEN" minOccurs="0"/>
        <xs:element ref="DNQUALIF" minOccurs="0"/>
        <xs:element ref="TITLE" minOccurs="0"/>
        <xs:element ref="CN" minOccurs="0"/>
        <xs:element ref="EMAIL" minOccurs="0"/>
        <xs:element ref="DOM" minOccurs="0"/>
        <xs:element ref="PSEUD" minOccurs="0"/>
        <xs:element ref="DESCR" minOccurs="0"/>
        <xs:element ref="PROV" minOccurs="0"/>
        <xs:element ref="oid" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="issuer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="C" minOccurs="0"/>
        <xs:element ref="O" minOccurs="0"/>
        <xs:element ref="OU" minOccurs="0"/>
        <xs:element ref="L" minOccurs="0"/>
        <xs:element ref="SUR" minOccurs="0"/>
        <xs:element ref="SER" minOccurs="0"/>
        <xs:element ref="GIVEN" minOccurs="0"/>
        <xs:element ref="DNQUALIF" minOccurs="0"/>
        <xs:element ref="TITLE" minOccurs="0"/>
        <xs:element ref="CN" minOccurs="0"/>
        <xs:element ref="EMAIL" minOccurs="0"/>
        <xs:element ref="DOM" minOccurs="0"/>
        <xs:element ref="PSEUD" minOccurs="0"/>
        <xs:element ref="DESCR" minOccurs="0"/>
        <xs:element ref="PROV" minOccurs="0"/>
        <xs:element ref="oid" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="policyInformationList">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="policyInformation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="policyInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="policyID"/>
        <xs:element ref="policyQualifierList" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="policyQualifierList">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="policyQualifier"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="policyQualifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="policyQualifierID"/>
        <xs:element ref="cpsUri" minOccurs="0"/>
        <xs:element ref="explicitText" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="qcStatements">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="qcCompliance"/>
        <xs:element ref="qcLimitValue"/>
        <xs:element ref="qcRetensionPeriod"/>
        <xs:element ref="qcSSCD"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="directoryAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="gender"/>
        <xs:element ref="placeOfBirth"/>
        <xs:element ref="dateOfBirth"/>
        <xs:element ref="countryOfCitizenship"/>
        <xs:element ref="countryOfResidence"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signedAttributes">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="messageDigest"/>
        <xs:element ref="signingTime"/>
        <xs:element ref="signingCertificate"/>
        <xs:element ref="signingCertificateV2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SUR" type="xs:string"/>
  <xs:element name="GIVEN" type="xs:string"/>
  <xs:element name="SER" type="xs:string"/>
  <xs:element name="DNQUALIF" type="xs:string"/>
  <xs:element name="DOM" type="xs:string"/>
  <xs:element name="PSEUD" type="xs:string"/>
  <xs:element name="PROV" type="xs:string"/>
  <xs:element name="serial" type="xs:string"/>
  <xs:element name="messageDigest" type="xs:string"/>
  <xs:element name="signingCertificate" type="xs:string"/>
  <xs:element name="signingCertificateV2" type="xs:string"/>
  <xs:element name="timeStampSerial" type="xs:string"/>
  <xs:element name="timeStampImprint" type="xs:string"/>
  <xs:element name="timeStampImprintAlgorithm" type="xs:string"/>
  <xs:element name="digestAlgorithm" type="xs:string"/>
  <xs:element name="gender" type="xs:string"/>
  <xs:element name="placeOfBirth" type="xs:string"/>
  <xs:element name="dateOfBirth" type="xs:string"/>
  <xs:element name="countryOfCitizenship" type="xs:string"/>
  <xs:element name="countryOfResidence" type="xs:string"/>
  <xs:element name="policyID" type="xs:string"/>
  <xs:element name="policyQualifierID" type="xs:string"/>
  <xs:element name="cpsUri" type="xs:string"/>
  <xs:element name="explicitText" type="xs:string"/>
  <xs:element name="qcCompliance">
    <xs:complexType/>
  </xs:element>
  <xs:element name="qcSSCD">
    <xs:complexType/>
  </xs:element>
  <xs:element name="qcLimitValue" type="xs:string"/>
  <xs:element name="qcRetensionPeriod" type="xs:string"/>
  <xs:element name="certificate" type="xs:string"/>
  <xs:element name="certNotBefore" type="xs:string"/>
  <xs:element name="certNotAfter" type="xs:string"/>
  <xs:element name="crlThisUpdate" type="xs:string"/>
  <xs:element name="ocspThisUpdate" type="xs:string"/>
  <xs:element name="crlExpired" type="xs:string"/>
  <xs:element name="ocspExpired" type="xs:string"/>
  <xs:element name="crlRevocationDate" type="xs:string"/>
  <xs:element name="ocspRevocationDate" type="xs:string"/>
  <xs:element name="crlHoldDate" type="xs:string"/>
  <xs:element name="ocspHoldDate" type="xs:string"/>
  <xs:element name="crlInvalidSince" type="xs:string"/>
  <xs:element name="ocspInvalidSince" type="xs:string"/>
  <xs:element name="signingTime" type="xs:string"/>
  <xs:element name="verificationTime" type="xs:string"/>
  <xs:element name="timeStampDate" type="xs:string"/>
  <xs:element name="caCertRevoked" type="xs:string"/>
  <xs:element name="caCertExpired" type="xs:string"/>
  <xs:element name="certExpired" type="xs:string"/>
  <xs:element name="expiredCertsOnCRL" type="xs:string"/>
  <xs:element name="status" type="xs:string"/>
  <xs:element name="errorCode" type="xs:string"/>
  <xs:element name="errorMessage" type="xs:string"/>
  <xs:element name="C" type="xs:string"/>
  <xs:element name="O" type="xs:string"/>
  <xs:element name="OU" type="xs:string"/>
  <xs:element name="L" type="xs:string"/>
  <xs:element name="TITLE" type="xs:string"/>
  <xs:element name="CN" type="xs:string"/>
  <xs:element name="DESCR" type="xs:string"/>
  <xs:element name="EMAIL" type="xs:string"/>
  <xs:element name="oid" type="xs:string"/>
</xs:schema>
