Vt-Docs/BackEnd/DepositoServices/DepositoServiceConsumer/Web References/DepositoServicesWR/DepService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DO_getIdProfileByData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numProto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnnoProto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idRegistro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idGruppo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPeople" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DO_getIdProfileByDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DO_getIdProfileByDataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DO_getIdProfileByDataSoapIn">
    <wsdl:part name="parameters" element="tns:DO_getIdProfileByData" />
  </wsdl:message>
  <wsdl:message name="DO_getIdProfileByDataSoapOut">
    <wsdl:part name="parameters" element="tns:DO_getIdProfileByDataResponse" />
  </wsdl:message>
  <wsdl:portType name="DepServiceSoap">
    <wsdl:operation name="DO_getIdProfileByData">
      <wsdl:input message="tns:DO_getIdProfileByDataSoapIn" />
      <wsdl:output message="tns:DO_getIdProfileByDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DepServiceSoap" type="tns:DepServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DO_getIdProfileByData">
      <soap:operation soapAction="http://tempuri.org/DO_getIdProfileByData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DepServiceSoap12" type="tns:DepServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DO_getIdProfileByData">
      <soap12:operation soapAction="http://tempuri.org/DO_getIdProfileByData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DepService">
    <wsdl:port name="DepServiceSoap" binding="tns:DepServiceSoap">
      <soap:address location="http://localhost/Dep-Cons2/BackEnd/DepositoServices/DepositoService/DepService.asmx" />
    </wsdl:port>
    <wsdl:port name="DepServiceSoap12" binding="tns:DepServiceSoap12">
      <soap12:address location="http://localhost/Dep-Cons2/BackEnd/DepositoServices/DepositoService/DepService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>