Pitre-AltriProgetti/LifeCycleConversionHelpers/Adlib/Adlib.Director.DirectorWSAWrapper/Web References/ComponentManagementService/ComponentManagementService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.adlibsoftware.com/Common/Types/" elementFormDefault="qualified" targetNamespace="http://schemas.adlibsoftware.com/Common/Types/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Adlib/Services/ComponentManagement/ComponentManagementService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfComponent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Component" nillable="true" type="tns:Component" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComponent" nillable="true" type="tns:ArrayOfComponent" />
  <xs:complexType name="Component">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:ComponentType" />
      <xs:element minOccurs="0" name="InstallPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineId" type="ser:guid" />
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkspaceId" type="ser:guid" />
      <xs:element minOccurs="0" name="FriendlyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Component" nillable="true" type="tns:Component" />
  <xs:complexType name="ComponentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAdvanced" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComponentType" nillable="true" type="tns:ComponentType" />
  <xs:complexType name="ArrayOfComponentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComponentType" nillable="true" type="tns:ComponentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComponentType" nillable="true" type="tns:ArrayOfComponentType" />
</xs:schema>