Vt-Docs/BackEnd/DocsPaDigitalSignature/Web References/externalService/ClrVerification.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nttdata.com/2013/CRLSvc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://nttdata.com/2013/CRLSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nttdata.com/2013/CRLSvc">
      <s:element name="BatchDettaglioCertificato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CertificateBase64" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BatchDettaglioCertificatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BatchDettaglioCertificatoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileLocale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileLocaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FileLocaleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProvaServizio">
        <s:complexType />
      </s:element>
      <s:element name="ProvaServizioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProvaServizioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProvaServizioCERT">
        <s:complexType />
      </s:element>
      <s:element name="ProvaServizioCERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProvaServizioCERTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DettaglioCertificato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CertificateDer" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="CertificateCAPEM" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DettaglioCertificatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DettaglioCertificatoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaCertificatoConFileOriginale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileOriginale" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="dataverificaDT" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ancheFile" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaCertificatoConFileOriginaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificaCertificatoConFileOriginaleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaCertificatoFileLocale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dataverificaDT" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ancheFile" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="isCadesPades" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaCertificatoFileLocaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificaCertificatoFileLocaleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaCertificato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="dataverificaDT" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ancheFile" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="isCadesPades" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaCertificatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificaCertificatoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnessioneServizio">
        <s:complexType />
      </s:element>
      <s:element name="ConnessioneServizioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnessioneServizioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BatchDettaglioCertificatoSoapIn">
    <wsdl:part name="parameters" element="tns:BatchDettaglioCertificato" />
  </wsdl:message>
  <wsdl:message name="BatchDettaglioCertificatoSoapOut">
    <wsdl:part name="parameters" element="tns:BatchDettaglioCertificatoResponse" />
  </wsdl:message>
  <wsdl:message name="FileLocaleSoapIn">
    <wsdl:part name="parameters" element="tns:FileLocale" />
  </wsdl:message>
  <wsdl:message name="FileLocaleSoapOut">
    <wsdl:part name="parameters" element="tns:FileLocaleResponse" />
  </wsdl:message>
  <wsdl:message name="ProvaServizioSoapIn">
    <wsdl:part name="parameters" element="tns:ProvaServizio" />
  </wsdl:message>
  <wsdl:message name="ProvaServizioSoapOut">
    <wsdl:part name="parameters" element="tns:ProvaServizioResponse" />
  </wsdl:message>
  <wsdl:message name="ProvaServizioCERTSoapIn">
    <wsdl:part name="parameters" element="tns:ProvaServizioCERT" />
  </wsdl:message>
  <wsdl:message name="ProvaServizioCERTSoapOut">
    <wsdl:part name="parameters" element="tns:ProvaServizioCERTResponse" />
  </wsdl:message>
  <wsdl:message name="DettaglioCertificatoSoapIn">
    <wsdl:part name="parameters" element="tns:DettaglioCertificato" />
  </wsdl:message>
  <wsdl:message name="DettaglioCertificatoSoapOut">
    <wsdl:part name="parameters" element="tns:DettaglioCertificatoResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaCertificatoConFileOriginaleSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaCertificatoConFileOriginale" />
  </wsdl:message>
  <wsdl:message name="VerificaCertificatoConFileOriginaleSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaCertificatoConFileOriginaleResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaCertificatoFileLocaleSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaCertificatoFileLocale" />
  </wsdl:message>
  <wsdl:message name="VerificaCertificatoFileLocaleSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaCertificatoFileLocaleResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaCertificatoSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaCertificato" />
  </wsdl:message>
  <wsdl:message name="VerificaCertificatoSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaCertificatoResponse" />
  </wsdl:message>
  <wsdl:message name="ConnessioneServizioSoapIn">
    <wsdl:part name="parameters" element="tns:ConnessioneServizio" />
  </wsdl:message>
  <wsdl:message name="ConnessioneServizioSoapOut">
    <wsdl:part name="parameters" element="tns:ConnessioneServizioResponse" />
  </wsdl:message>
  <wsdl:portType name="ClrVerificationSoap">
    <wsdl:operation name="BatchDettaglioCertificato">
      <wsdl:input message="tns:BatchDettaglioCertificatoSoapIn" />
      <wsdl:output message="tns:BatchDettaglioCertificatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FileLocale">
      <wsdl:input message="tns:FileLocaleSoapIn" />
      <wsdl:output message="tns:FileLocaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProvaServizio">
      <wsdl:input message="tns:ProvaServizioSoapIn" />
      <wsdl:output message="tns:ProvaServizioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProvaServizioCERT">
      <wsdl:input message="tns:ProvaServizioCERTSoapIn" />
      <wsdl:output message="tns:ProvaServizioCERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DettaglioCertificato">
      <wsdl:input message="tns:DettaglioCertificatoSoapIn" />
      <wsdl:output message="tns:DettaglioCertificatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificaCertificatoConFileOriginale">
      <wsdl:input message="tns:VerificaCertificatoConFileOriginaleSoapIn" />
      <wsdl:output message="tns:VerificaCertificatoConFileOriginaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificaCertificatoFileLocale">
      <wsdl:input message="tns:VerificaCertificatoFileLocaleSoapIn" />
      <wsdl:output message="tns:VerificaCertificatoFileLocaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificaCertificato">
      <wsdl:input message="tns:VerificaCertificatoSoapIn" />
      <wsdl:output message="tns:VerificaCertificatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnessioneServizio">
      <wsdl:input message="tns:ConnessioneServizioSoapIn" />
      <wsdl:output message="tns:ConnessioneServizioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClrVerificationSoap" type="tns:ClrVerificationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BatchDettaglioCertificato">
      <soap:operation soapAction="http://nttdata.com/2013/CRLSvc/BatchDettaglioCertificato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileLocale">
      <soap:operation soapAction="http://nttdata.com/2013/CRLSvc/FileLocale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProvaServizio">
      <soap:operation soapAction="http://nttdata.com/2013/CRLSvc/ProvaServizio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProvaServizioCERT">
      <soap:operation soapAction="http://nttdata.com/2013/CRLSvc/ProvaServizioCERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DettaglioCertificato">
      <soap:operation soapAction="http://nttdata.com/2013/CRLSvc/DettaglioCertificato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaCertificatoConFileOriginale">
      <soap:operation soapAction="http://nttdata.com/2013/CRLSvc/VerificaCertificatoConFileOriginale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaCertificatoFileLocale">
      <soap:operation soapAction="http://nttdata.com/2013/CRLSvc/VerificaCertificatoFileLocale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaCertificato">
      <soap:operation soapAction="http://nttdata.com/2013/CRLSvc/VerificaCertificato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnessioneServizio">
      <soap:operation soapAction="http://nttdata.com/2013/CRLSvc/ConnessioneServizio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClrVerificationSoap12" type="tns:ClrVerificationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BatchDettaglioCertificato">
      <soap12:operation soapAction="http://nttdata.com/2013/CRLSvc/BatchDettaglioCertificato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileLocale">
      <soap12:operation soapAction="http://nttdata.com/2013/CRLSvc/FileLocale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProvaServizio">
      <soap12:operation soapAction="http://nttdata.com/2013/CRLSvc/ProvaServizio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProvaServizioCERT">
      <soap12:operation soapAction="http://nttdata.com/2013/CRLSvc/ProvaServizioCERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DettaglioCertificato">
      <soap12:operation soapAction="http://nttdata.com/2013/CRLSvc/DettaglioCertificato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaCertificatoConFileOriginale">
      <soap12:operation soapAction="http://nttdata.com/2013/CRLSvc/VerificaCertificatoConFileOriginale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaCertificatoFileLocale">
      <soap12:operation soapAction="http://nttdata.com/2013/CRLSvc/VerificaCertificatoFileLocale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaCertificato">
      <soap12:operation soapAction="http://nttdata.com/2013/CRLSvc/VerificaCertificato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnessioneServizio">
      <soap12:operation soapAction="http://nttdata.com/2013/CRLSvc/ConnessioneServizio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClrVerification">
    <wsdl:port name="ClrVerificationSoap" binding="tns:ClrVerificationSoap">
      <soap:address location="http://localhost/Vt-Docs/BackEnd/DocsPaDigitalSignature_ExternalModules/ClrVerificationService/ClrVerification.asmx" />
    </wsdl:port>
    <wsdl:port name="ClrVerificationSoap12" binding="tns:ClrVerificationSoap12">
      <soap12:address location="http://localhost/Vt-Docs/BackEnd/DocsPaDigitalSignature_ExternalModules/ClrVerificationService/ClrVerification.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>