MOBILE PITRe/BackEnd WS PIS REST/Experimental/Vt-Docs/Subscriber/Subscriber.AlboTelematico/Web References/sr/Documents5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VtDocsWS.Services.Documents.GetDocumentStateDiagram" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VtDocsWS.Services.Documents.GetDocumentStateDiagram" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vt-ferlitoca.valueteam.com/Vt-Docs/DocsPaWS/VtDocsWS/WebServices/Documents.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VtDocsWS.Services" />
  <xs:import schemaLocation="http://vt-ferlitoca.valueteam.com/Vt-Docs/DocsPaWS/VtDocsWS/WebServices/Documents.svc?xsd=xsd15" namespace="http://nttdata.com/2012/Pi3/StateOfDiagram" />
  <xs:complexType name="GetDocumentStateDiagramRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/VtDocsWS.Services" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdDocument" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDocumentStateDiagramRequest" nillable="true" type="tns:GetDocumentStateDiagramRequest" />
  <xs:complexType name="GetDocumentStateDiagramResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/VtDocsWS.Services" base="q2:Response">
        <xs:sequence>
          <xs:element xmlns:q3="http://nttdata.com/2012/Pi3/StateOfDiagram" minOccurs="0" name="StateOfDiagram" nillable="true" type="q3:StateOfDiagram" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDocumentStateDiagramResponse" nillable="true" type="tns:GetDocumentStateDiagramResponse" />
</xs:schema>