MOBILE PITRe/BackEnd WS PIS REST/Experimental/Vt-Docs/Subscriber/Subscriber.AlboTelematico/Web References/sr/Documents13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://nttdata.com/2012/Pi3/StateDiagram" elementFormDefault="qualified" targetNamespace="http://nttdata.com/2012/Pi3/StateDiagram" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vt-ferlitoca.valueteam.com/Vt-Docs/DocsPaWS/VtDocsWS/WebServices/Documents.svc?xsd=xsd15" namespace="http://nttdata.com/2012/Pi3/StateOfDiagram" />
  <xs:complexType name="StateDiagram">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://nttdata.com/2012/Pi3/StateOfDiagram" minOccurs="0" name="StateOfDiagram" nillable="true" type="q1:ArrayOfStateOfDiagram" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateDiagram" nillable="true" type="tns:StateDiagram" />
</xs:schema>