MOBILE PITRe/BackEnd WS PIS REST/Experimental/Vt-Docs/Subscriber/Subscriber.AlboTelematico/Web References/sr/Documents17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VtDocsWS.Services.Documents.GetStampAndSignature" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VtDocsWS.Services.Documents.GetStampAndSignature" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vt-ferlitoca.valueteam.com/Vt-Docs/DocsPaWS/VtDocsWS/WebServices/Documents.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VtDocsWS.Services" />
  <xs:import schemaLocation="http://vt-ferlitoca.valueteam.com/Vt-Docs/DocsPaWS/VtDocsWS/WebServices/Documents.svc?xsd=xsd30" namespace="http://nttdata.com/2012/Pi3/Stamp" />
  <xs:complexType name="GetStampAndSignatureRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/VtDocsWS.Services" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdDocument" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetStampAndSignatureRequest" nillable="true" type="tns:GetStampAndSignatureRequest" />
  <xs:complexType name="GetStampAndSignatureResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/VtDocsWS.Services" base="q2:Response">
        <xs:sequence>
          <xs:element xmlns:q3="http://nttdata.com/2012/Pi3/Stamp" minOccurs="0" name="Stamp" nillable="true" type="q3:Stamp" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetStampAndSignatureResponse" nillable="true" type="tns:GetStampAndSignatureResponse" />
</xs:schema>