BackEnd WS PIS REST/Experimental/Vt-Docs/BackEnd/FatturazioneElettronica/SdiConnector/Service References/RicezioneFattureServices/DPAConnector.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://nttdata.com/2014/FatturaPA" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DPAConnector" targetNamespace="http://nttdata.com/2014/FatturaPA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nttdata.com/2014/FatturaPA/Imports">
      <xsd:import schemaLocation="http://vtmi-vtdocst01.valueteam.com/Fatturazione_pec/DPA/DPAConnector.svc?xsd=xsd0" namespace="http://nttdata.com/2014/FatturaPA" />
      <xsd:import schemaLocation="http://vtmi-vtdocst01.valueteam.com/Fatturazione_pec/DPA/DPAConnector.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vtmi-vtdocst01.valueteam.com/Fatturazione_pec/DPA/DPAConnector.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FatturazioneService.DPA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDPAConnector_InviaFatturaToSdi_InputMessage">
    <wsdl:part name="parameters" element="tns:InviaFatturaToSdi" />
  </wsdl:message>
  <wsdl:message name="IDPAConnector_InviaFatturaToSdi_OutputMessage">
    <wsdl:part name="parameters" element="tns:InviaFatturaToSdiResponse" />
  </wsdl:message>
  <wsdl:message name="IDPAConnector_InviaFatturaToSdiViaPec_InputMessage">
    <wsdl:part name="parameters" element="tns:InviaFatturaToSdiViaPec" />
  </wsdl:message>
  <wsdl:message name="IDPAConnector_InviaFatturaToSdiViaPec_OutputMessage">
    <wsdl:part name="parameters" element="tns:InviaFatturaToSdiViaPecResponse" />
  </wsdl:message>
  <wsdl:portType name="IDPAConnector">
    <wsdl:operation name="InviaFatturaToSdi">
      <wsdl:input wsaw:Action="http://nttdata.com/2014/FatturaPA/IDPAConnector/InviaFatturaToSdi" message="tns:IDPAConnector_InviaFatturaToSdi_InputMessage" />
      <wsdl:output wsaw:Action="http://nttdata.com/2014/FatturaPA/IDPAConnector/InviaFatturaToSdiResponse" message="tns:IDPAConnector_InviaFatturaToSdi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InviaFatturaToSdiViaPec">
      <wsdl:input wsaw:Action="http://nttdata.com/2014/FatturaPA/IDPAConnector/InviaFatturaToSdiViaPec" message="tns:IDPAConnector_InviaFatturaToSdiViaPec_InputMessage" />
      <wsdl:output wsaw:Action="http://nttdata.com/2014/FatturaPA/IDPAConnector/InviaFatturaToSdiViaPecResponse" message="tns:IDPAConnector_InviaFatturaToSdiViaPec_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDPAConnector" type="tns:IDPAConnector">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InviaFatturaToSdi">
      <soap:operation soapAction="http://nttdata.com/2014/FatturaPA/IDPAConnector/InviaFatturaToSdi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InviaFatturaToSdiViaPec">
      <soap:operation soapAction="http://nttdata.com/2014/FatturaPA/IDPAConnector/InviaFatturaToSdiViaPec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DPAConnector">
    <wsdl:port name="BasicHttpBinding_IDPAConnector" binding="tns:BasicHttpBinding_IDPAConnector">
      <soap:address location="http://vtmi-vtdocst01.valueteam.com/Fatturazione_pec/DPA/DPAConnector.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>