Pitre-AltriProgetti/LifeCycleConversionHelpers/Adlib/Adlib.Director.DirectorWSAWrapper/Web References/UserManagementService/UserManagementService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.adlibsoftware.com/SystemAnalytics/" elementFormDefault="qualified" targetNamespace="http://schemas.adlibsoftware.com/SystemAnalytics/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Adlib/Services/UserManagement/UserManagementService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ReportDataTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Columns" nillable="true" type="tns:ArrayOfReportDataColumn" />
      <xs:element minOccurs="0" name="Rows" nillable="true" type="tns:ArrayOfReportDataRow" />
      <xs:element minOccurs="0" name="IsResultTruncated" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportDataTable" nillable="true" type="tns:ReportDataTable" />
  <xs:complexType name="ArrayOfReportDataColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportDataColumn" nillable="true" type="tns:ReportDataColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportDataColumn" nillable="true" type="tns:ArrayOfReportDataColumn" />
  <xs:complexType name="ReportDataColumn">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Visible" type="xs:boolean" />
      <xs:element minOccurs="0" name="FooterDescription" nillable="true" type="tns:ArrayOfReportDataColumnAggregation" />
      <xs:element minOccurs="0" name="DataFormatString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportDataColumn" nillable="true" type="tns:ReportDataColumn" />
  <xs:complexType name="ArrayOfReportDataColumnAggregation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportDataColumnAggregation" nillable="true" type="tns:ReportDataColumnAggregation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportDataColumnAggregation" nillable="true" type="tns:ArrayOfReportDataColumnAggregation" />
  <xs:complexType name="ReportDataColumnAggregation">
    <xs:sequence>
      <xs:element name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AggregationType" type="tns:ReportDataColumnAggregationType" />
      <xs:element minOccurs="0" name="DataFormatString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportDataColumnAggregation" nillable="true" type="tns:ReportDataColumnAggregation" />
  <xs:simpleType name="ReportDataColumnAggregationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Average" />
      <xs:enumeration value="Count" />
      <xs:enumeration value="Sum" />
      <xs:enumeration value="Min" />
      <xs:enumeration value="Max" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportDataColumnAggregationType" nillable="true" type="tns:ReportDataColumnAggregationType" />
  <xs:complexType name="ArrayOfReportDataRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportDataRow" nillable="true" type="tns:ReportDataRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportDataRow" nillable="true" type="tns:ArrayOfReportDataRow" />
  <xs:complexType name="ReportDataRow">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="RowData" nillable="true" type="q1:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportDataRow" nillable="true" type="tns:ReportDataRow" />
</xs:schema>